# Importando pacotes

In [1]:
################################################## Trazendo os pacotes de fora ###################################
import importlib

def install_and_import(package):
    try:
        importlib.import_module(package)  # Tenta importar o pacote
    except ImportError:
        print(f"{package} não está instalado. Instalando agora...")
        !pip install {package}  # Instala o pacote
    finally:
        globals()[package] = importlib.import_module(package)  # Importa o pacote
        
        
install_and_import('sklearn')
install_and_import('numpy')
install_and_import('statsmodels')
install_and_import('seaborn')
install_and_import('oauth2client')

#!pip install gspread
#!pip install oauth2client
#!pip install openpyxl
#!pip install yfinance
#!pip install selenium
#!pip install -q -U google-generativeai

In [2]:
###################################### Importando bibliotecas ######################################



import gspread
import datetime
import os
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn import datasets
import seaborn as sns
from oauth2client.service_account import ServiceAccountCredentials
import openpyxl
from sklearn.metrics import r2_score
import numpy as np
import sklearn
import yfinance as yf
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import google.generativeai as genai
from datetime import datetime, timedelta
import sqlite3


##############        CHAVE DA API DO GEMINI 
genai.configure(api_key='AIzaSyC0DtmsvdRKo9lo5iIfZtajgt2mbQNYsr8')

# Plano de escrita
> Abaixo descreveremos quais são os objetivos desse algorítimo e quais passos serão utilizados para a realização dele.

## Objetivo principal
> Esse algoritimo busca a análise econômica dos países da América do Sul produzindo um reporte que será acessado através de uma plataforma de visualização de dados.

## Objetivos específicos
1. Coletar, armazenar e processar dados das principais empresas dos países selecionados através do Yahoo Finance
    1.1 Além das empresas nacionais, é importante também produzir dados de empresas transnacionais relevantes para a região
2. Coletar, armazenar e processar dados macroeconômicos dos países relevantes através de alguma ferramenta
3. Coletar as principais notícias nos jornais nacionais dos países em questão e através de uma inteligência artifical gerar resumos dessas notícias para serem apresentados no reporte

## Descrição das etapas pretendidas
- Criação de um sistema de coleta, armazenamento local e consulta de dados dos ativos selecionados
    - Os ativos relevantes são: cestas das bolsas de valores locais, taxa de câmbio com o dólar e em um escopo de região vamos extrair também os preços de commodities
    - O armazenamento será através de um Banco de Dados. **Será utilizado o SQLite***
    - Parte do processo de armazenamento é estabelecer um sistema eficiênte de datas para não sobrecarregar o yf
    - O armazenamento é pensado como um Banco de Dados SQL
    - Criar sistema de download dos dados históricos sem sobrecarregar YF
- À partir dos dados obtidos executar os processamentos relevantes
    - Executar análise do desvio padrão, correlação entre as bolsas, etc
    - **Bonus:** Buscar bibliotecas que façam análise de risco e estudar ligeiramente as teorias dos ativos
    - Armazenar todos os dados localmente
- Organizar os dados em planilhas com conteúdo compatível com o software de visualização dos dados
    - O software de visualização dos dados escolhi no momento foi o **Google Data Stuidio*
    - Relevante aprender a utilizar
- Utilizar a biblioteca de interação com o Drive para fazer o upload para uma pasta no drive que alimentará google data studio
- Buscar e raspar principais notícias do dia e criar um resumo direcionado ao país através da IA
- Armazenar localmente de forma compacta e fazer upload para o drive onde alimentará também o Google Data Studio
- A ideia geral da visualização dos dados no google data stuidio é: 
    - Resumo geral da região
        - Principais variações regionais em ativos de bolsa
        - Commodities
        - Agregados e a última data de atualização
        - Principais cestas de bolsa
        - Tabela com as taxas de câmbio e variações
        - Resumo das notícias locais em um pequeno resumo da região
    - Resumo individual
        - Descrição detalhada dos agregados
        - Análise de nível médio de detalhe das ações relevantes pra unidade nacional
        - Resumo de três parágrafos das três primeiras notícias das manchetes

# Documentações e Links relevantes 

Código da IA: https://stackoverflow.com/questions/77816871/error-with-linux-for-google-api-gemini-ai
Documentação do YF: https://pypi.org/project/yfinance/

# Informações sobre os dados:

   ## Sobre moedas:
    Brasil (BRL): Real
    Argentina (ARS): Peso argentino
    Chile (CLP): Peso chileno
    Colômbia (COP): Peso colombiano
    México (MXN): Peso mexicano
    Peru (PEN): Sol peruano
    Uruguai (UYU): Peso uruguaio
    Venezuela (VES): Bolívar soberano
    Belize: Dólar de Belize (BZD)
    Costa Rica: Colón costa-riquenho (CRC)
    Guatemala: Quetzal guatemalteco (GTQ)
    Honduras: Lempira hondurenho (HNL)
    Nicarágua: Córdoba nicaraguense (NIO)
    Panamá: Balboa panamenho (PAB)

# Sistemas

In [3]:
# Sistema de data

today = datetime.today()
today = today.strftime("%Y-%m-%d")

print(today)

2024-02-29

# Atualizações/Instalações

In [4]:
# Criar/conectar um BD

# Primeiro é importante verificar se o arquivo do database está presente no "root" da instalação

rootdire =  os.getcwd()
rootdire_list = os.listdir(rootdire)

if 'yfhistoric.db' in rootdire_list:
    conexao = sqlite3.connect('yfhistoric.db')
    print('Você já tem um Banco de Dados')
else:
    conexao = sqlite3.connect('yfhistoric.db')
    print('Criando um banco de dados')
    cursor = conexao.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS indicators(
        id INTEGER PRIMARY KEY,
        datatype TEXT NOT NULL
    )
    ''')
    conexao.close()

### CRIANDO AS TABELAS SE ELAS NÃO EXISTEM ###
conn = sqlite3.connect('yfhistoric.db')
cursor = conn.cursor()

###### TABELAS MÃE #####
cursor.execute('''
    CREATE TABLE IF NOT EXISTS indicators(
        id INTEGER PRIMARY KEY,
        datatype TEXT NOT NULL
    );
    
    ''')
cursor.execute('''
    CREATE TABLE IF NOT EXISTS texts(
        id INTEGER PRIMARY KEY,
        datatype TEXT NOT NULL
    );    
    ''')
cursor.execute('''
    CREATE TABLE IF NOT EXISTS countries(
        id INTEGER PRIMARY KEY,
        country TEXT,
        latam TEXT
    );    
    ''')
# Na chave "latam" adicionar "yes", "no" e "world"

##### TABELAS FILHA
cursor.execute('''
    CREATE TABLE IF NOT EXISTS currencies(
        id INTEGER PRIMARY KEY,
        currcode TEXT NOT NULL,
        currname TEXT NOT NULL,
        country TEXT NOT NULL,
        datatype TEXT NOT NULL,
        FOREIGN KEY (datatype) REFERENCES indicators(datatype)
        FOREIGN KEY (country) REFERENCES countries(country)
    );    
    ''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS tickets(
        id INTEGER PRIMARY KEY,
        ticcode TEXT NOT NULL,
        ticname TEXT NOT NULL,
        ticcat TEXT NOT NULL,
        datatype TEXT NOT NULL,
        country TEXT NOT NULL,
        FOREIGN KEY (datatype) REFERENCES indicators(datatype)
        FOREIGN KEY (country) REFERENCES countries(country)
    );    
    ''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS commodities(
        id INTEGER PRIMARY KEY,
        commcode TEXT NOT NULL,
        comname TEXT NOT NULL,
        datatype TEXT NOT NULL,
        FOREIGN KEY (datatype) REFERENCES indicators(datatype)
    );    
    ''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS agregates(
        id INTEGER PRIMARY KEY,
        agrcode TEXT NOT NULL,
        agrname TEXT NOT NULL,
        datatype TEXT NOT NULL,
        FOREIGN KEY (datatype) REFERENCES indicators(datatype)
    );    
    ''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS news(
        id INTEGER PRIMARY KEY,
        newspapername TEXT NOT NULL,
        newspaperlink TEXT NOT NULL,
        country TEXT NOT NULL,
        datatype TEXT NOT NULL,
        FOREIGN KEY (datatype) REFERENCES text(datatype)
        FOREIGN KEY (country) REFERENCES countries(country)
    );    
    ''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS summary(
        id INTEGER PRIMARY KEY,
        summhierarquy TEXT NOT NULL, 
        country TEXT NOT NULL,
        datatype TEXT NOT NULL,
        FOREIGN KEY (datatype) REFERENCES text(datatype)
        FOREIGN KEY (country) REFERENCES countries(country)
    );    
    ''')


###### TESTES E END
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
table = cursor.fetchall()
print(table)

conn.commit()
conn.close()

# print(rootdire      , ' !!!!! ', rootdire_list)  Para verificar
print(rootdire      , ' !!!!! ', rootdire_list)


# Conectar ao banco de dados (isso criará o banco de dados se não existir)
# conexao = sqlite3.connect('yfhistoric.db')

Criando um banco de dados
[('indicators',), ('texts',), ('countries',), ('currencies',), ('tickets',), ('commodities',), ('agregates',), ('news',), ('summary',)]
C:\Users\yanme\OneDrive\Área de Trabalho\Portifólio  !!!!!  ['.ipynb_checkpoints', 'CEPAL AGREGADOS', 'Coletar e tratar dados financeiros.ipynb', 'GEMINI CODE.ipynb', 'github', 'IA FUN', 'Main', 'outros e loucuras', 'PNAD CONTÍNUA', 'Untitled.ipynb']

In [5]:
########## GATILHOS DAS CATEGORIAS MÃE (INCOMPLETO, FAZER DEPOIS)
conn = sqlite3.connect('yfhistoric.db')
cursor = conn.cursor()

indicatorsdt = ('currencies', 'tickets', 'commodities', 'agregates')

textdt = ('news', 'summary')

countriescat = ('Brasil', 'Argentina', 'Chile', 'Colômbia', 'México', 'Peru', 'Uruguai', 'Venezuela', 'Belize', 'Costa Rica', 'Estados Unidos', 'Guatemala', 'Honduras', 'Nicarágua', 'Bolívia', 'Mundo', 'Criptomoeda', 'União Europeia')

conn.close()

In [6]:
##### INSERIR DADOS TABELA MÃE


data = (indicatorsdt, textdt, countriescat)

conn = sqlite3.connect('yfhistoric.db')
cursor = conn.cursor()

for indi in indicatorsdt:
    command = '''
        INSERT INTO indicators (datatype)
        SELECT ? AS datatype
        WHERE NOT EXISTS (
            SELECT 1 FROM indicators WHERE datatype = ?
        )
    '''
    conn.execute(command, (indi, indi))
    conn.commit()

for dt in textdt:
    command = '''
        INSERT INTO texts (datatype)
        SELECT ? AS datatype
        WHERE NOT EXISTS (
            SELECT 1 FROM indicators WHERE datatype = ?
        )
    '''
    conn.execute(command, (dt, dt))
    conn.commit()

# TABELAS FILHAS/NETAS

In [7]:
##### CURRENCIES
currencies_todf = {  # EDITAR ISSO PARA ADICIONAR OU REMOVER MOEDAS RELEVANTES A SEREM ANALISADAS
    
'pais': ['Brasil', 'Argentina', 'Chile', 'Colômbia', 'México', 'Peru', 'Uruguai', 'Venezuela', 'Belize', 'Costa Rica', 'Estados Unidos', 'Guatemala', 'Honduras', 'Nicarágua', 'Bolívia'],
'moeda': ['Real', 'Peso argentino', 'Peso chileno', 'Peso colombiano', 'Peso mexicano', 
          'Sol peruano', 'Peso uruguaio', 'Bolívar soberano', 'Dólar de Belize', 'Colón costa-riquenho', 'Dólar dos Estados Unidos', 'Quetzal guatemalteco', 
           'Lempira hondurenho', 'Córdoba nicaraguense', 'Boliviano'],
'codigo': ['BRL', 'ARS', 'CLP', 'COP', 'MXN', 'PEN', 'UYU', 'VES', 'BZD', 'CRC', 'USD', 'GTQ', 'HNL', 'NIO', 'BOB']
}

currenciesdf = pd.DataFrame(currencies_todf)
currenciesdf.head(20)

              pais                     moeda codigo
0           Brasil                      Real    BRL
1        Argentina            Peso argentino    ARS
2            Chile              Peso chileno    CLP
3         Colômbia           Peso colombiano    COP
4           México             Peso mexicano    MXN
5             Peru               Sol peruano    PEN
6          Uruguai             Peso uruguaio    UYU
7        Venezuela          Bolívar soberano    VES
8           Belize           Dólar de Belize    BZD
9       Costa Rica      Colón costa-riquenho    CRC
10  Estados Unidos  Dólar dos Estados Unidos    USD
11       Guatemala      Quetzal guatemalteco    GTQ
12        Honduras        Lempira hondurenho    HNL
13       Nicarágua      Córdoba nicaraguense    NIO
14         Bolívia                 Boliviano    BOB

In [8]:
conn = sqlite3.connect('yfhistoric.db')
cursor = conn.cursor()

for index, row in currenciesdf.iterrows():
    code = row['codigo']
    name = row['moeda']
    country = row['pais']
    datatype = 'currencies'
    dados = (code, name, country, datatype) 
    command = '''
        INSERT INTO currencies (currcode, currname, country, datatype)
        SELECT ?, ?, ?, ?
        WHERE NOT EXISTS (
            SELECT 1 FROM currencies 
            WHERE currcode = ? AND currname = ? AND country = ? AND datatype = ?
        )
    '''
    cursor.execute(command, dados + dados)
    conn.commit()
conn.close()

In [9]:
conn = sqlite3.connect('yfhistoric.db')
cursor = conn.cursor()

command = 'SELECT currcode FROM currencies'

cursor.execute(command)

# Recuperar os resultados da consulta
resultados = cursor.fetchall()

# Armazenar os valores da coluna em uma lista Python
coluna_lista = [row[0] for row in resultados]

# Exibir a lista
print(coluna_lista)

['BRL', 'ARS', 'CLP', 'COP', 'MXN', 'PEN', 'UYU', 'VES', 'BZD', 'CRC', 'USD', 'GTQ', 'HNL', 'NIO', 'BOB']

In [10]:
for codeit in coluna_lista:
    codeit = codeit.lower()
    command = f'''
        CREATE TABLE IF NOT EXISTS {codeit}(
            id INTEGER PRIMARY KEY,
            code TEXT NOT NULL,
            date DATE,
            open REAL,
            high REAL,
            low REAL,
            close REAL,
            volume REAL,
            datatype TEXT NOT NULL
        );    
        '''
    cursor.execute(command)
    conn.commit()


# Fechar a conexão com o banco de dados
conn.close()

In [11]:
# Subtrair 10 anos da data atual
todaydelta = datetime.strptime(today, "%Y-%m-%d")

tenyragodelta = todaydelta - timedelta(days=10*365)
print(tenyragodelta)

2014-03-03 00:00:00

In [12]:
conn = sqlite3.connect('yfhistoric.db')
cursor = conn.cursor()

for currcode in coluna_lista:
    currcode = currcode.lower()
    command = f'SELECT MIN(date) FROM {currcode}'
    cursor.execute(command)
    lastdate = cursor.fetchall()
    lastdatetest = f'{lastdate}'
    lastdatetest = len(lastdatetest)
    if lastdatetest == 9: # GAMBIARRA MÁXIMA
        tenyragovar = tenyragodelta.strftime("%Y-%m-%d")
        todayvar = todaydelta.strftime("%Y-%m-%d")
        downloadv = yf.download(f"USD{currcode}=X", start=f"{tenyragovar}", end=f"{todayvar}")
        downloadv = downloadv.drop('Adj Close', axis=1)
        downloadv['datatype'] = 'currencies'
        downloadv['code'] = f'{currcode}'
        downloadv.reset_index(inplace=True)
        downloadv['Date'] = pd.to_datetime(downloadv['Date'])
        currcodel = currcode.lower()
        downloadv.to_sql(f'{currcodel}', conn, if_exists='append', index=False, dtype={'Date': 'DATE'})
        
    else:
        command = f'SELECT MAX(date) FROM {currcode}'
        cursor.execute(command)
        firstdate = cursor.fetchall()
        lastdatestr = lastdate[0][0].split()[0]
        lastdatedatetime = datetime.strptime(lastdatestr, '%Y-%m-%d')
        firstdatestr = firstdate[0][0].split()[0]
        firstdatedatetime = datetime.strptime(firstdatestr, '%Y-%m-%d')
        todayvar = todaydelta.strftime("%Y-%m-%d")
        firstdatestr = firstdatedatetime.strftime("%Y-%m-%d")
        print(firstdatedatetime)
        print(todaydelta)
        print(type(todaydelta))
        print(todayvar)
        print(firstdatestr)
        if firstdatestr == todaydelta:
            print('Up to date')
        else:
            downloadv = yf.download(f"USD{currcode}=X", start=f"{firstdatestr}", end=f"{todayvar}") # o Yahoo Finance só resgata os tickets de moeda depois do fechamento do dia. 
            # Rodar esse programa UMA VEZ POR DIA
            # PARA UMA ATUALIZAÇÃO: ADICIONAR UMA CHAVE DE "ATUALIZATION DATE"
            downloadv = downloadv.drop('Adj Close', axis=1)
            downloadv['datatype'] = 'currencies'
            downloadv['code'] = f'{currcode}'
            downloadv.reset_index(inplace=True)
            downloadv['Date'] = pd.to_datetime(downloadv['Date'])
            currcodel = currcode.lower()
            downloadv.to_sql(f'{currcodel}', conn, if_exists='replace', index=False, dtype={'Date': 'DATE'})
            print(downloadv)
            conn.commit()

conn.close()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['USDUSD=X']: Exception("%ticker%: Period 'max' is invalid, must be one of ['1d', '5d']")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [13]:
########################### commodities
commodities_todf = {
    'commodity': ['Ouro', 'Prata', 'Petróleo Crude (WTI)', 'Petróleo Brent Crude', 'Cobre', 'Gás Natural', 'Milho', 'Trigo', 'Café', 'Açúcar'],
    'codigo': ['GC=F', 'SI=F', 'CL=F', 'BZ=F', 'HG=F', 'NG=F', 'C=F', 'W=F', 'KC=F', 'SB=F']
}
commoditiesdf = pd.DataFrame(commodities_todf)
commoditiesdf.head(20)

conn = sqlite3.connect('yfhistoric.db')
cursor = conn.cursor()

for index, row in commoditiesdf.iterrows():
    code = row['codigo']
    name = row['commodity']
    datatype = 'commodities'
    dados = (code, name, datatype) 
    command = '''
        INSERT INTO commodities (commcode, comname, datatype)
        SELECT ?, ?, ?
        WHERE NOT EXISTS (
            SELECT 1 FROM commodities
            WHERE commcode = ? AND comname = ? AND datatype = ?
        )
    '''
    cursor.execute(command, dados + dados)
    conn.commit()
conn.close()

In [14]:
conn = sqlite3.connect('yfhistoric.db')
cursor = conn.cursor()

command = 'SELECT commcode FROM commodities'

cursor.execute(command)

# Recuperar os resultados da consulta
resultados = cursor.fetchall()

# Armazenar os valores da coluna em uma lista Python
coluna_lista = [row[0] for row in resultados]

# Exibir a lista
print(coluna_lista)

['GC=F', 'SI=F', 'CL=F', 'BZ=F', 'HG=F', 'NG=F', 'C=F', 'W=F', 'KC=F', 'SB=F']

In [15]:
for codeit in coluna_lista:
    codeit = codeit.lower()
    command = f'''
        CREATE TABLE IF NOT EXISTS "{codeit}"(
            id INTEGER PRIMARY KEY,
            code TEXT NOT NULL,
            date DATE,
            open REAL,
            high REAL,
            low REAL,
            close REAL,
            volume REAL,
            datatype TEXT NOT NULL
        );    
        '''
    cursor.execute(command)
    conn.commit()


# Fechar a conexão com o banco de dados
conn.close()

In [16]:
conn = sqlite3.connect('yfhistoric.db')
cursor = conn.cursor()

for commcode in coluna_lista:
    commcode = commcode.lower()
    command = f'SELECT MIN(date) FROM "{commcode}"'
    cursor.execute(command)
    lastdate = cursor.fetchall()
    lastdatetest = f'{lastdate}'
    lastdatetest = len(lastdatetest)
    if lastdatetest == 9: # GAMBIARRA MÁXIMA
        tenyragovar = tenyragodelta.strftime("%Y-%m-%d")
        todayvar = todaydelta.strftime("%Y-%m-%d")
        downloadv = yf.download(f"{commcode}", start=f"{tenyragovar}", end=f"{todayvar}")
        downloadv = downloadv.drop('Adj Close', axis=1)
        downloadv['datatype'] = 'commodities'
        downloadv['code'] = f'{commcode}'
        downloadv.reset_index(inplace=True)
        downloadv['Date'] = pd.to_datetime(downloadv['Date'])
        commcodel = commcode.lower()
        downloadv.to_sql(f'{commcodel}', conn, if_exists='replace', index=False, dtype={'Date': 'DATE'})
        
    else:
        command = f'SELECT MAX(date) FROM "{commcode}"'
        cursor.execute(command)
        firstdate = cursor.fetchall()
        lastdatestr = lastdate[0][0].split()[0]
        lastdatedatetime = datetime.strptime(lastdatestr, '%Y-%m-%d')
        firstdatestr = firstdate[0][0].split()[0]
        firstdatedatetime = datetime.strptime(firstdatestr, '%Y-%m-%d')
        todayvar = todaydelta.strftime("%Y-%m-%d")
        firstdatestr = firstdatedatetime.strftime("%Y-%m-%d")
        print(firstdatedatetime)
        print(todaydelta)
        print(type(todaydelta))
        print(todayvar)
        print(firstdatestr)
        if firstdatestr == todaydelta:
            print('Up to date')
        else:
            downloadv = yf.download(f"{commcode}", start=f"{firstdatestr}", end=f"{todayvar}") # o Yahoo Finance só resgata os tickets de moeda depois do fechamento do dia. 
            # Rodar esse programa UMA VEZ POR DIA
            # PARA UMA ATUALIZAÇÃO: ADICIONAR UMA CHAVE DE "ATUALIZATION DATE"
            downloadv = downloadv.drop('Adj Close', axis=1)
            downloadv['datatype'] = 'commodities'
            downloadv['code'] = f'{commcode}'
            downloadv.reset_index(inplace=True)
            downloadv['Date'] = pd.to_datetime(downloadv['Date'])
            commcodel = commcode.lower()
            downloadv.to_sql(f'{commcodel}', conn, if_exists='replace', index=False, dtype={'Date': 'DATE'})
            print(downloadv)
            conn.commit()

conn.close()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [17]:
# PROTO CÓDIGO DOS TICKETS

'''
empresasbr = {
    'empresa': ['Vale', 'Itaú Unibanco', 'Bradesco', 'Ambev', 'Banco do Brasil', 'B3', 'Petrobras', 'Cielo', 'Eletrobras', 'Magazine Luiza',
                'Votorantim', 'Gerdau', 'Rumo', 'Cyrela', 'Klabin', 'Randon', 'Ultrapar', 'Usiminas', 'Lojas Americanas', 'Suzano',
                'Fleury', 'Gol', 'Santander Brasil', 'Localiza', 'Ecorodovias', 'Braskem', 'WEG', 'JBS', 'IRB Brasil', 'CCR'],
    'codigo': ['VALE3.SA', 'ITUB4.SA', 'BBDC4.SA', 'ABEV3.SA', 'BBAS3.SA', 'B3SA3.SA', 'PETR4.SA', 'CIEL3.SA', 'ELET6.SA', 'MGLU3.SA',
                'VVAR3.SA', 'GGBR4.SA', 'RAIL3.SA', 'CYRE3.SA', 'KLBN11.SA', 'RAPT4.SA', 'UGPA3.SA', 'USIM5.SA', 'LAME4.SA', 'SUZB3.SA',
                'FLRY3.SA', 'GOLL4.SA', 'SANB11.SA', 'RENT3.SA', 'ECOR3.SA', 'BRKM5.SA', 'WEGE3.SA', 'JBSS3.SA', 'IRBR3.SA', 'CCRO3.SA'],
    'pais': ['Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil',
              'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil'],
    'nicho': ['Mineração', 'Serviços Financeiros', 'Serviços Financeiros', 'Bebidas', 'Serviços Financeiros', 'Serviços Financeiros', 'Petróleo e Gás', 'Tecnologia Financeira', 'Energia', 'Varejo',
              'Diversificado', 'Metalurgia', 'Logística', 'Construção Civil', 'Papel e Celulose', 'Automotivo', 'Diversificado', 'Metalurgia', 'Varejo', 'Papel e Celulose',
              'Saúde', 'Transporte Aéreo', 'Serviços Financeiros', 'Aluguel de Carros', 'Infraestrutura', 'Petroquímica', 'Energia', 'Alimentício', 'Seguros', 'Infraestrutura']
}

empresasar = {
    'empresa': ['YPF', 'Grupo Financiero Galicia', 'Banco Macro', 'MercadoLibre', 'Telecom Argentina', 'BBVA Banco Francés', 'Cresud', 'Pampa Energía', 'Tenaris', 'Globant',
                'Banco de la Nación Argentina', 'Ternium', 'Central Puerto', 'Banco Santander Río', 'Grupo Supervielle', 'YPF Luz', 'Banco BBVA Argentina', 'Transportadora de Gas del Sur', 'Despegar.com', 'Banco de Galicia y Buenos Aires',
                'Aluar Aluminio', 'Molinos Río de la Plata', 'Edenor', 'IRSA Propiedades Comerciales', 'Banco Patagonia', 'Telefónica de Argentina', 'Siderar', 'Consultatio', 'Molinos Agro', 'TGS'],
    'codigo': ['YPFD.BA', 'GGAL.BA', 'BMA.BA', 'MELI.BA', 'TECO2.BA', 'BBAR.BA', 'CRES.BA', 'PAMP.BA', 'TS.BA', 'GLOB.BA',
               'BMA.BA', 'TXAR.BA', 'CEPU.BA', 'RIO.BA', 'SUPV.BA', 'YPFL.BA', 'BBVA.BA', 'TGSU2.BA', 'DESP.BA', 'GGAL.BA',
               'ALUA.BA', 'MOLI.BA', 'EDN.BA', 'IRSA.BA', 'BPAT.BA', 'TECO2.BA', 'ERAR.BA', 'CTIO.BA', 'MOLA.BA', 'TGSU2.BA'],
    'pais': ['Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina',
             'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina',
             'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina'],
    'nicho': ['Petróleo e Gás', 'Serviços Financeiros', 'Serviços Financeiros', 'Tecnologia', 'Telecomunicações', 'Serviços Financeiros', 'Agricultura', 'Energia', 'Metalurgia', 'Tecnologia',
              'Serviços Financeiros', 'Metalurgia', 'Energia', 'Serviços Financeiros', 'Serviços Financeiros', 'Petróleo e Gás', 'Serviços Financeiros', 'Petróleo e Gás', 'Tecnologia', 'Serviços Financeiros',
              'Metalurgia', 'Alimentício', 'Energia', 'Imobiliário', 'Serviços Financeiros', 'Telecomunicações', 'Metalurgia', 'Consultoria', 'Alimentício', 'Energia']
}

empresasmex = {
    'empresa': ['América Móvil', 'Grupo México', 'FEMSA', 'Grupo Bimbo', 'Cemex', 'Grupo Financiero Banorte', 'Grupo Elektra', 'Gruma', 'Grupo Aeroportuario del Pacífico', 'Alfa', 
                'Grupo Aeroportuario del Centro Norte', 'Grupo Carso', 'Genomma Lab Internacional', 'Grupo Aeroportuario del Sureste', 'Grupo Aeroportuario de la Ciudad de México', 
                'Grupo Simec', 'Alpek', 'Controladora Vuela Compañía de Aviación', 'Gentera', 'Banco Santander México', 'Televisa', 'Grupo Lala', 'Grupo Herdez', 
                'Grupo Cementos de Chihuahua', 'Grupo Gigante', 'Banco del Bajío', 'Grupo Sanborns', 'Fibra Uno', 'Grupo Industrial Maseca', 'Grupo Kuo'],
    'codigo': ['AMXL.MX', 'GMEXICOB.MX', 'FEMSAUBD.MX', 'BIMBOA.MX', 'CEMEXCPO.MX', 'GFNORTEO.MX', 'ELEKTRA.MX', 'GRUMAB.MX', 'GAPB.MX', 'ALFAA.MX', 
                'OMAB.MX', 'GCARSOA1.MX', 'LABB.MX', 'ASURB.MX', 'GACMAB.MX', 'SIMECB.MX', 'ALPEKA.MX', 'VLRS.MX', 'GENTERA.MX', 'BSMXB.MX', 'TLEVISACPO.MX', 
                'LALAB.MX', 'HERDEZ.MX', 'GCC.MX', 'GIGANTE.MX', 'BBAJIOO.MX', 'GSANBORB-1.MX', 'FUNO11.MX', 'GRUMAB.MX', 'KUOB.MX'],
    'pais': ['México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 
             'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México'],
    'nicho': ['Telecomunicações', 'Mineração', 'Bebidas', 'Alimentício', 'Construção', 'Serviços Financeiros', 'Varejo', 'Alimentício', 'Transporte', 'Conglomerado',
              'Transporte', 'Conglomerado', 'Farmacêutico', 'Transporte', 'Transporte', 'Metalurgia', 'Químico', 'Transporte', 'Serviços Financeiros', 'Serviços Financeiros', 'Mídia',
              'Alimentício', 'Alimentício', 'Construção', 'Varejo', 'Serviços Financeiros', 'Varejo', 'Imobiliário', 'Indústria', 'Conglomerado']
}

empresascol = {
    'empresa': ['Ecopetrol', 'Grupo Aval', 'Bancolombia', 'Grupo Nutresa', 'Grupo Argos', 'Cementos Argos', 'Grupo Sura', 'Grupo Éxito', 'ISA', 'Banco de Bogotá',
                'Grupo Bolívar', 'Grupo EPM', 'Almacenes Éxito', 'Terpel', 'Celsia', 'Bancolombia Preferencial', 'Davivienda', 'Grupo Energía Bogotá', 'Cementos Argos Preferencial', 'Grupo Nutresa Preferencial',
                'Grupo Argos Preferencial', 'Grupo Aval Preferencial', 'Corficolombiana', 'ISA Preferencial', 'Banco de Bogotá Preferencial', 'Banco de Occidente', 'Grupo Sura Preferencial', 'Grupo Éxito Preferencial', 'Cemex Latam Holdings', 'ISA Pref A'],
    'codigo': ['ECOPETL.BO', 'AVAL.BO', 'CIB.BO', 'NUTRESA.BO', 'GRUPOARG.BO', 'CEMARGOS.BO', 'GRUPOSURA.BO', 'EXITO.BO', 'ISA.BO', 'BOGOTA.BO',
               'BOLIVAR.BO', 'EPM.BO', 'EXITO.BO', 'TERPEL.BO', 'CELSIA.BO', 'BCOLOMBIA.BO', 'PFDAVVNDA.BO', 'EEB.BO', 'CARTGENA.BO', 'NUTRESA.BO',
               'GRUPOARG.BO', 'AVAL.BO', 'COLFIC.BO', 'ISA.BO', 'BOGOTA.BO', 'OCCIDENTE.BO', 'GRUPOSURA.BO', 'EXITO.BO', 'CLH.BO', 'ISA.BO'],
    'pais': ['Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia',
             'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia',
             'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia', 'Colômbia'],
    'nicho': ['Petróleo e Gás', 'Serviços Financeiros', 'Serviços Financeiros', 'Alimentício', 'Construção', 'Construção', 'Serviços Financeiros', 'Varejo', 'Energia', 'Serviços Financeiros',
              'Serviços Financeiros', 'Energia', 'Varejo', 'Petróleo e Gás', 'Energia', 'Serviços Financeiros', 'Serviços Financeiros', 'Energia', 'Construção', 'Alimentício',
              'Construção', 'Serviços Financeiros', 'Serviços Financeiros', 'Serviços Financeiros', 'Energia', 'Serviços Financeiros', 'Serviços Financeiros', 'Varejo', 'Varejo', 'Construção', 'Energia']
}

empresaschi = {
    'empresa': ['Banco Santander Chile', 'LATAM Airlines Group S.A.', 'Cencosud S.A.', 'Enel Chile S.A.', 'SQM S.A.', 'Banco de Chile',
                'CAP S.A.', 'Embotelladora Andina S.A.', 'Empresa Nacional de Electricidad S.A.', 'Banco BICE', 'Colbún S.A.', 'Copec S.A.',
                'Entel Chile S.A.', 'Empresas Copec S.A.', 'SMU S.A.', 'Falabella S.A.', 'Banco Santander Chile', 'Banco de Crédito e Inversiones',
                'ILC Grupo Security S.A.', 'Sonda S.A.', 'Banco Estado', 'Parque Arauco S.A.', 'Itaú Corpbanca', 'Viña Concha y Toro S.A.',
                'Sociedad Matriz SAAM S.A.', 'Banco Santander Chile', 'Grupo Security S.A.', 'Enel Distribucion Chile S.A.', 'Inversiones La Construcción S.A.', 'BCI Seguros S.A.'],
    'codigo': ['SAN.SN', 'LTM', 'CENCOSUD', 'ENELCHILE', 'SQM', 'BCH', 'CAP', 'ANDINA-A', 'ENELAM', 'BICE', 'COLBUN', 'COPEC',
               'ENTEL', 'COPEC', 'SMU', 'FALABELLA', 'BSANTANDER', 'BCI', 'ILC', 'SONDA', 'ESTADO', 'PARAUCO', 'ITAUCORP', 'CONCHATORO',
               'SAAM', 'BSAN.SN', 'SECURITY', 'ENELCHILE', 'ILC', 'BCI'],
    'pais': ['Chile'] * 30,
    'nicho': ['Serviços Financeiros', 'Transporte Aéreo', 'Varejo', 'Energia', 'Mineração', 'Serviços Financeiros', 'Indústria', 'Indústria', 'Energia', 'Serviços Financeiros',
              'Energia', 'Energia', 'Telecomunicações', 'Indústria', 'Varejo', 'Varejo', 'Serviços Financeiros', 'Serviços Financeiros', 'Serviços Financeiros', 'Tecnologia',
              'Tecnologia', 'Serviços Financeiros', 'Imobiliário', 'Serviços Financeiros', 'Bebidas', 'Serviços Financeiros', 'Serviços Financeiros', 'Energia', 'Serviços Financeiros', 'Seguros']
}

empresasper = {
    'empresa': ['Credicorp Ltd.', 'Southern Copper Corporation', 'Volcan Compañía Minera S.A.A.', 'Banco de Crédito del Perú', 'Grana y Montero S.A.A.', 'Engie Energia Perú S.A.',
                'Ferreyros S.A.A.', 'Minera Buenaventura S.A.A.', 'Banco Continental', 'Intercorp Financial Services Inc.', 'Lima Airport Partners S.R.L.', 'Cementos Pacasmayo S.A.A.',
                'Graña y Montero S.A.A.', 'Inretail Peru Corporation S.A.', 'Inmobiliaria Panamericana S.A.A.', 'Alicorp S.A.A.', 'Hochschild Mining plc', 'Empresas Copec S.A.', 'Backus and Johnston',
                'Aceros Arequipa S.A.', 'Refinería La Pampilla S.A.A.', 'Pacífico Seguros', 'Alicorp S.A.A.', 'E.W. Scripps Company', 'Gloria S.A.', 'Cencosud Shopping Centers S.A.', 'Rímac Seguros y Reaseguros S.A.',
                'Ferreyros S.A.A.', 'Inmobiliaria Inversiones La Construcción S.A.A.'],
    'codigo': ['BAP', 'SCCO', 'VOLCABC1', 'BAP', 'GRAMONC1', 'ENGIEC1', 'FERREYC1', 'BUE', 'BAP', 'IFS', 'AAPL1', 'CPACASC1', 'GRAMONC1', 'INRETC1', 'PAPAC1', 'ALICORC1',
               'HOC.L', 'COPEC', 'BAP', 'BAP', 'RLP', 'BAP', 'ALICORC1', 'PRSGA', 'EWSCC1', 'PFA', 'CENCOSUD', 'RIMAC1', 'FERREYC1', 'ILCC1'],
    'pais': ['Peru'] * 30,
    'nicho': ['Serviços Financeiros', 'Mineração', 'Mineração', 'Serviços Financeiros', 'Construção', 'Energia', 'Construção', 'Mineração', 'Serviços Financeiros', 'Serviços Financeiros',
              'Transporte', 'Construção', 'Construção', 'Varejo', 'Imobiliário', 'Alimentício', 'Mineração', 'Energia', 'Bebidas', 'Manufatura',
              'Petróleo e Gás', 'Seguros', 'Alimentício', 'Mídia', 'Alimentício', 'Varejo', 'Seguros', 'Construção', 'Imobiliário']
}

empresas_tecnologicas = {
    'empresa': ['Apple Inc.', 'Microsoft Corporation', 'Amazon.com Inc.', 'Alphabet Inc.', 'Facebook, Inc.', 'Tesla, Inc.', 'NVIDIA Corporation',
                'Adobe Inc.', 'Intel Corporation', 'IBM (International Business Machines Corporation)', 'Netflix, Inc.', 'Salesforce.com, Inc.',
                'Tencent Holdings Limited', 'Oracle Corporation', 'Cisco Systems, Inc.', 'Qualcomm Incorporated', 'PayPal Holdings, Inc.', 'Sony Corporation',
                'Square, Inc.', 'Twitter, Inc.', 'Uber Technologies, Inc.', 'Zoom Video Communications, Inc.', 'Shopify Inc.', 'Palantir Technologies Inc.',
                'Alibaba Group Holding Limited', 'Snowflake Inc.', 'Pinterest, Inc.', 'DocuSign, Inc.', 'Twilio Inc.', 'ServiceNow, Inc.'],
    'codigo': ['AAPL', 'MSFT', 'AMZN', 'GOOGL', 'FB', 'TSLA', 'NVDA', 'ADBE', 'INTC', 'IBM', 'NFLX', 'CRM', 'TCEHY', 'ORCL', 'CSCO', 'QCOM', 'PYPL', 'SNE',
               'SQ', 'TWTR', 'UBER', 'ZM', 'SHOP', 'PLTR', 'BABA', 'SNOW', 'PINS', 'DOCU', 'TWLO', 'NOW'],
    'pais': ['EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'China', 'EUA', 'EUA', 'EUA', 'EUA', 'Japão', 'EUA',
             'EUA', 'EUA', 'EUA', 'Canadá', 'EUA', 'China', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA'],
    'nicho': ['Tecnologia'] * 30
}

empresas_financeiras = {
    'empresa': ['JPMorgan Chase & Co.', 'Berkshire Hathaway Inc.', 'Bank of America Corporation', 'Wells Fargo & Company', 'Citigroup Inc.', 'Goldman Sachs Group, Inc.',
                'Morgan Stanley', 'American Express Company', 'Mastercard Incorporated', 'Visa Inc.', 'The Charles Schwab Corporation', 'BlackRock, Inc.',
                'S&P Global Inc.', 'Fidelity National Information Services, Inc.', 'Fiserv, Inc.', 'Capital One Financial Corporation', 'Nasdaq, Inc.',
                'The Bank of New York Mellon Corporation', 'T. Rowe Price Group, Inc.', 'State Street Corporation', 'BB&T Corporation', 'Northern Trust Corporation',
                'Ally Financial Inc.', 'E*TRADE Financial Corporation', 'Discover Financial Services', 'Intercontinental Exchange, Inc.', 'Ameriprise Financial, Inc.',
                'CME Group Inc.', 'Raymond James Financial, Inc.', 'The Travelers Companies, Inc.'],
    'codigo': ['JPM', 'BRK.B', 'BAC', 'WFC', 'C', 'GS', 'MS', 'AXP', 'MA', 'V', 'SCHW', 'BLK', 'SPGI', 'FIS', 'FISV', 'COF', 'NDAQ', 'BK', 'TROW', 'STT', 'BBT', 'NTRS',
               'ALLY', 'ETFC', 'DFS', 'ICE', 'AMP', 'CME', 'RJF', 'TRV'],
    'pais': ['EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA',
             'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA'],
    'nicho': ['Serviços Financeiros'] * 30
}

empresas_energia = {
    'empresa': ['Saudi Aramco', 'Exxon Mobil', 'Royal Dutch Shell', 'China National Petroleum Corporation', 'BP', 'TotalEnergies', 'Saudi Arabian Oil Company', 'Chevron Corporation', 'Gazprom', 'Rosneft',
                'Kuwait Petroleum Corporation', 'PetroChina', 'Eni', 'Abu Dhabi National Oil Company', 'Sinopec', 'Valero Energy', 'Phillips 66', 'Petrobras', 'Reliance Industries', 'PetroChina', 
                'Equinor', 'PT Pertamina (Persero)', 'ConocoPhillips', 'EOG Resources', 'Lukoil', 'Marathon Petroleum', 'Pemex', 'Saudi Basic Industries Corporation (SABIC)', 'Enbridge', 'BHP',
                'Exxon Mobil', 'E.ON', 'Petronas', 'Petronas Chemicals Group Berhad', 'NextEra Energy', 'Suncor Energy', 'Indian Oil Corporation', 'Occidental Petroleum', 'Duke Energy', 'Chesapeake Energy',
                'Southern Company', 'Schlumberger', 'Canadian Natural Resources', 'Chevron Corporation', 'Woodside Petroleum', 'ConocoPhillips', 'EOG Resources', 'Repsol', 'EOG Resources', 'Devon Energy'],
    'codigo': ['ARAMCO', 'XOM', 'RDS.A', 'PTR', 'BP', 'TTE', '2222.SE', 'CVX', 'OGZPY', 'ROSN.ME', 'KPC', 'PTR', 'ENI', 'ABD.NE', 'SNP', 'VLO', 'PSX', 'PBR', 'RELIANCE.NS', 'PTR', 
               'EQNR', 'PERT.JK', 'COP', 'EOG', 'LKOH.ME', 'MPC', 'PXX', '2010.SE', 'ENB', 'BHP', 'XOM', 'EONGY', 'PETRONM', '5183.KL', 'NEE', 'SU', 'IOCL.NS', 'OXY', 'DUK', 'CHK',
               'SO', 'SLB', 'CNQ', 'CVX', 'WPL.AX', 'COP', 'EOG', 'REP.MC', 'EOG', 'DVN'],
    'pais': ['Arábia Saudita', 'EUA', 'Reino Unido / Países Baixos', 'China', 'Reino Unido', 'França', 'Arábia Saudita', 'EUA', 'Rússia', 'Rússia', 'Kuwait', 'China', 'Itália', 'Emirados Árabes Unidos',
             'China', 'EUA', 'EUA', 'Brasil', 'Índia', 'China', 'Noruega', 'Indonésia', 'EUA', 'EUA', 'Rússia', 'EUA', 'México', 'Arábia Saudita', 'Canadá', 'Austrália', 'EUA', 'Alemanha',
             'Malásia', 'Malásia', 'EUA', 'Canadá', 'Índia', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'Canadá', 'EUA', 'Austrália', 'EUA', 'EUA', 'Espanha', 'EUA', 'EUA'],
    'nicho': ['Energia'] * 50
}

empresas_automotivas = {
    'empresa': ['Toyota', 'Volkswagen', 'Daimler', 'General Motors', 'BMW', 'Honda', 'Ford', 'Nissan', 'Tesla', 'Hyundai', 'Audi', 'Volvo', 'Fiat Chrysler', 'Renault', 'Peugeot', 'Subaru', 'Kia', 'Mazda', 'Jaguar Land Rover', 'Mercedes-Benz',
                'Mitsubishi', 'Porsche', 'Geely', 'BYD', 'Tata Motors', 'Suzuki', 'Ferrari', 'Bentley', 'Lamborghini', 'Rolls-Royce'],
    'codigo': ['TM', 'VWAGY', 'DDAIF', 'GM', 'BMWYY', 'HMC', 'F', 'NSANY', 'TSLA', 'HYMTF', 'AUDVF', 'VOLVY', 'FCAU', 'RNSDF', 'PUGOY', 'FUJHY', 'HYMTF', 'MZDAY', 'TTM', 'DDAIF',
               'MSBHY', 'POAHY', 'GELYY', 'BYDDY', 'TTM', 'SZKMY', 'RACE', 'BNTGF', 'VLKAF', 'RYCEY'],
    'pais': ['Japão', 'Alemanha', 'Alemanha', 'EUA', 'Alemanha', 'Japão', 'EUA', 'Japão', 'EUA', 'Coreia do Sul', 'Alemanha', 'Suécia', 'Itália', 'França', 'França', 'Japão', 'Coreia do Sul', 'Japão', 'Reino Unido', 'Alemanha',
             'Japão', 'Alemanha', 'China', 'China', 'Índia', 'Japão', 'Itália', 'Reino Unido', 'Itália', 'Reino Unido'],
    'nicho': ['Automotiva'] * 30
}
empresas_varejo = {
    'empresa': ['Walmart', 'Amazon', 'Alibaba', 'Costco', 'Home Depot', 'Tesco', 'Lowe\'s', 'Aldi', 'Inditex', 'Carrefour', 'JD.com', 'Target', 'IKEA', 'CVS Health', 'LVMH', 'Woolworths', 'Kroger', 'Lidl', 'Seven & i Holdings', 'Walgreens Boots Alliance',
                'Best Buy', 'Shopify', 'Coles Group', 'Schwarz Group', 'Sainsbury\'s', 'Metro AG', 'Yum China Holdings', 'Ross Stores', 'X5 Retail Group', 'Macy\'s', 'Ahold Delhaize', 'Next plc', 'Zalando', 'Rite Aid', 'Fast Retailing', 'H&M', 'Gap', 'L Brands',
                'Canadian Tire', 'O\'Reilly Auto Parts', 'Kingfisher', 'Ulta Beauty', 'Migros', 'Jeronimo Martins', 'Tractor Supply Company', 'J. Sainsbury', 'Marks & Spencer', 'Dollar General', 'Casino Guichard-Perrachon'],
    'codigo': ['WMT', 'AMZN', 'BABA', 'COST', 'HD', 'TSCO', 'LOW', '', 'ITX', 'CA', 'JD', 'TGT', '', 'CVS', 'LVMUY', 'WOW', 'KR', '', '', '', 'WBA', 'BBY', 'SHOP', '', '', '', '', 'YUMC', 'ROST', '', 'M', 'ADRNY', 'NXT',
               'ZAL', 'RAD', 'FRCOY', 'HNNMY', 'GPS', 'LB', 'CDNAF', 'ORLY', '', 'ULTA', '', '', 'JMT', 'TSCO', 'SBRY', 'MAKSY', 'DG', 'CGUSY'],
    'pais': ['EUA', 'EUA', 'China', 'EUA', 'EUA', 'Reino Unido', 'EUA', 'Alemanha', 'Espanha', 'França', 'China', 'EUA', 'Suécia', 'EUA', 'França', 'Austrália', 'EUA', 'Alemanha', 'Japão', 'EUA', 'EUA', 'Canadá', 'Austrália', 'Alemanha',
             'Reino Unido', 'Alemanha', 'China', 'EUA', 'Rússia', 'EUA', 'Holanda', 'Reino Unido', 'Alemanha', 'EUA', 'Suécia', 'EUA', 'EUA', 'Canadá', 'EUA', 'Reino Unido', 'EUA', 'Suíça', 'Portugal', 'EUA', 'Reino Unido', 'Reino Unido',
             'EUA', 'França'],
    'nicho': ['Varejo'] * 30
}

empresas_saude = {
    'empresa': ['Johnson & Johnson', 'Roche Holding', 'Pfizer', 'Novartis', 'Merck & Co.', 'Abbott Laboratories', 'Sanofi', 'GlaxoSmithKline', 'Medtronic', 'Bristol-Myers Squibb',
                'Eli Lilly and Company', 'Amgen', 'AstraZeneca', 'Novo Nordisk', 'Takeda Pharmaceutical', 'Gilead Sciences', 'Bayer', 'Becton Dickinson', 'Teva Pharmaceutical Industries', 'Stryker',
                'AbbVie', 'Biogen', 'Regeneron Pharmaceuticals', 'Vertex Pharmaceuticals', 'Alexion Pharmaceuticals', 'Shire', 'Zoetis', 'Fresenius', 'Cigna', 'Cardinal Health'],
    'codigo': ['JNJ', 'ROG', 'PFE', 'NOVN', 'MRK', 'ABT', 'SNY', 'GSK', 'MDT', 'BMY', 'LLY', 'AMGN', 'AZN', 'NVO', '4502.T', 'GILD', 'BAYN', 'BDX', 'TEVA', 'SYK',
               'ABBV', 'BIIB', 'REGN', 'VRTX', 'ALXN', 'SHPG', 'ZTS', 'FRE', 'CI', 'CAH'],
    'pais': ['EUA', 'Suíça', 'EUA', 'Suíça', 'EUA', 'EUA', 'França', 'Reino Unido', 'EUA', 'EUA', 'EUA', 'EUA', 'Reino Unido', 'Dinamarca', 'Japão', 'EUA', 'Alemanha', 'EUA', 'Israel', 'EUA',
             'EUA', 'EUA', 'EUA', 'EUA', 'EUA', 'Irlanda', 'EUA', 'Alemanha', 'EUA', 'EUA', 'EUA'],
    'nicho': ['Saúde'] * 30
}

empresas_construcao_civil = {
    'empresa': ['China State Construction Engineering', 'China Railway Group', 'China Railway Construction', 'Vinci', 'ACS', 'Bouygues', 'Larsen & Toubro', 'Actividades de Construcción y Servicios', 'China Communications Construction', 'China Evergrande Group',
                'Shimizu', 'Skanska', 'Bechtel', 'China Metallurgical Group', 'Power Construction Corporation of China', 'Obayashi Corporation', 'China Energy Engineering Corporation', 'Shanghai Construction Group', 'China National Building Material Group', 'China Resources Cement Holdings',
                'VINCI Construction', 'China Gezhouba Group', 'CRH', 'China Railway Engineering Corporation', 'China National Machinery Industry Corporation', 'Sinohydro Group', 'Grupo ACS', 'China Railway Signal & Communication', 'China Communications Services Corporation', 'Beijing Urban Construction Group',
                'China National Erzhong Group', 'China National Nuclear Corporation', 'Balfour Beatty', 'Daikin Industries', 'United Technologies Corporation', 'Japan Airlines', 'China National Aviation Holding', 'China Southern Airlines', 'Air China', 'Delta Air Lines',
                'Sinopec', 'PetroChina', 'ExxonMobil', 'Royal Dutch Shell', 'Chevron', 'Total', 'BP', 'Petrobras', 'Schlumberger'],
    'codigo': ['601668.SS', '0390.HK', '1186.HK', 'DG.PA', 'ACS.MC', 'EN.PA', 'LT.NS', 'ACS.MC', '1800.HK', '3333.HK',
               '1803.T', 'SKA-B.ST', 'Privada', '1618.HK', '601669.SS', '1802.T', '601800.SS', '600170.SS', '601668.SS', '1899.HK', '1313.HK',
               'DG.PA', '600068.SS', 'CRG.IR', '3898.HK', 'SINOVIS.BO', '601618.SS', 'ACS.MC', '600548.SS', '0554.HK', 'Privada',
               '601268.SS', '601985.SS', 'BALF.L', '6367.T', 'UTX', '9201.T', '601111.SS', '1055.HK', '601111.SS', '601111.SS',
               '600028.SS', '601857.SS', 'XOM', 'RDS-A', 'CVX', 'FP.PA', 'BP', 'PBR', 'SLB'],
    'pais': ['China', 'China', 'China', 'França', 'Espanha', 'França', 'Índia', 'Espanha', 'China', 'China',
             'Japão', 'Suécia', 'Estados Unidos', 'China', 'China', 'Japão', 'China', 'China', 'China', 'China',
             'França', 'China', 'Irlanda', 'China', 'China', 'China', 'Espanha', 'China', 'China', 'China',
             'China', 'China', 'Reino Unido', 'Japão', 'Estados Unidos', 'Japão', 'China', 'China', 'China',
             'China', 'EUA', 'Holanda', 'EUA', 'EUA', 'França', 'Reino Unido', 'Brasil', 'EUA'],
    'nicho': ['Construção Civil'] * 50
}

empresas_mineracao = {
    'empresa': [
        "BHP Group", "Rio Tinto", "Vale", "Glencore", "Anglo American", "Freeport-McMoRan", "Newmont Corporation", "Barrick Gold", "Teck Resources", "South32",
        "Alcoa Corporation", "Gold Fields", "Newcrest Mining", "Fortescue Metals Group", "Southern Copper Corporation", "Aluminum Corporation of China Limited (Chalco)", "Codelco", "Nornickel", "Mosaic", "Lynas Rare Earths",
        "Vale Indonesia", "First Quantum Minerals", "Wheaton Precious Metals", "Hudbay Minerals", "Turquoise Hill Resources", "OZ Minerals", "Lundin Mining Corporation", "Evolution Mining", "Pan American Silver", "Northern Star Resources",
        "Kinross Gold Corporation", "Hecla Mining Company", "Yamana Gold", "SSR Mining", "Kirkland Lake Gold", "Alamos Gold", "Iamgold Corporation", "Agnico Eagle Mines Limited", "New Gold Inc.", "Endeavour Mining Corporation", "Harmony Gold Mining Company Limited",
        "Centamin plc", "Hochschild Mining plc", "MAG Silver Corporation", "Pretium Resources Inc.", "Osisko Gold Royalties Ltd", "Shandong Gold Mining Co., Ltd.", "Silvercorp Metals Inc.", "Royal Gold, Inc.", "Polymetal International plc", "Sandstorm Gold Ltd.",
        "Northern Dynasty Minerals Ltd.", "Fortuna Silver Mines Inc.", "Lundin Gold Inc."
    ],
    'codigo': [
        "BHP", "RIO", "VALE", "GLEN.L", "AAL.L", "FCX", "NEM", "GOLD", "TECK", "S32",
        "AA", "GFI", "NCM.AX", "FMG.AX", "SCCO", "2600.HK", "CODEL.SN", "GMKN.ME", "MOS", "LYC.AX",
        "INCO.JK", "FM.TO", "WPM", "HBM", "TRQ", "OZL.AX", "LUN.TO", "EVN.AX", "PAAS", "NST.AX",
        "KGC", "HL", "AUY", "SSRM", "KL", "AGI", "IAG", "AEM", "NGD", "EDV.TO", "HMY",
        "CEY.L", "HOC.L", "MAG", "PVG", "OR.TO", "600547.SS", "SVM", "RGLD", "POLY.L", "SAND",
        "NAK", "FSM", "LUG.TO"
    ],
    'pais': [
        'Austrália', 'Austrália', 'Brasil', 'Suíça', 'Reino Unido', 'Estados Unidos', 'Estados Unidos', 'Canadá', 'Canadá', 'Austrália',
        'Estados Unidos', 'África do Sul', 'Austrália', 'Austrália', 'Peru', 'China', 'Chile', 'Rússia', 'Estados Unidos', 'Austrália',
        'Indonésia', 'Canadá', 'Canadá', 'Canadá', 'Estados Unidos', 'Austrália', 'Canadá', 'Austrália', 'Estados Unidos', 'Austrália',
        'Canadá', 'Estados Unidos', 'Canadá', 'Estados Unidos', 'Canadá', 'Canadá', 'Canadá', 'Canadá', 'Canadá', 'Canadá', 'Reino Unido',
        'Reino Unido', 'Canadá', 'Canadá', 'Canadá', 'China', 'Canadá', 'Reino Unido', 'Rússia', 'Canadá', 'Canadá',
        'Estados Unidos', 'Canadá', 'Canadá'
    ],
    'nicho': ['Mineração'] * 50
}

indices_bolsas = {
    'empresa': [
        "Ibovespa", "S&P 500", "NASDAQ Composite", "FTSE 100", "DAX", "CAC 40", "Nikkei 225", "Hang Seng", "Shanghai Composite", "BSE Sensex",
        "KOSPI", "S&P/ASX 200", "TSX Composite", "IBEX 35", "FTSE MIB", "RTS Index", "MOEX Russia", "Bovespa", "IPC Mexico", "IPC Colombia",
        "MERVAL", "S&P/BMV IPC", "S&P/CLX IPSA", "BVC Bolivia", "BVN Peru", "IMC Chile", "BGS Paraguay", "IGBVL", "MSE Top 20 Index", "JSE All Share"
    ],
    'codigo': [
        "^BVSP", "^GSPC", "^IXIC", "^FTSE", "^GDAXI", "^FCHI", "^N225", "^HSI", "000001.SS", "^BSESN",
        "^KS11", "^AXJO", "^GSPTSE", "^IBEX", "FTSEMIB.MI", "^RTSI", "^IMOEX.ME", "^BVSP", "^MXX", "^COLCAP",
        "^MERV", "^MXX", "^IPSA", "^BVP", "^SPBLPGPT", "^IGPA", "^BVLG", "^ITC", "^JALSH"
    ],
    'pais': [
        "Brasil", "Estados Unidos", "Estados Unidos", "Reino Unido", "Alemanha", "França", "Japão", "Hong Kong", "China", "Índia",
        "Coreia do Sul", "Austrália", "Canadá", "Espanha", "Itália", "Rússia", "Rússia", "Brasil", "México", "Colômbia",
        "Argentina", "México", "Chile", "Bolívia", "Peru", "Chile", "Paraguai", "Peru", "Mongólia", "África do Sul"
    ],
    'nicho': ['Índices das Bolsas'] * 30
}

'''

In [58]:
tickets = [empresasbr, empresasar, empresasmex, empresascol, empresaschi, empresasper, empresas_tecnologicas, empresas_financeiras, empresas_energia, empresas_automotivas,
           empresas_varejo, empresas_saude, empresas_construcao_civil, empresas_mineracao, indices_bolsas]

In [33]:
def updateticket(dcticket):
    
    dcticketdf = pd.DataFrame(dcticket)
    
    conn = sqlite3.connect('yfhistoric.db')
    cursor = conn.cursor()

    for index, row in dcticketdf.iterrows():
        code = row['codigo']
        name = row['empresa']
        country = row['pais']
        niche = row['nicho']
        datatype = 'tickets'
        dados = (code, name, datatype, niche, country) 
        command = '''
            INSERT INTO tickets (ticcode, ticname, datatype, ticcat, country)
            SELECT ?, ?, ?, ?, ?
            WHERE NOT EXISTS (
                SELECT 1 FROM tickets
                WHERE ticcode = ? AND ticname = ? AND datatype = ? AND ticcat = ? AND country = ?
            )
        '''
        cursor.execute(command, dados + dados)
        conn.commit()


    ###############


    command = 'SELECT ticcode FROM tickets'

    cursor.execute(command)

    # Recuperar os resultados da consulta
    resultados = cursor.fetchall()

    # Armazenar os valores da coluna em uma lista Python
    coluna_lista = [row[0] for row in resultados]

    # Exibir a lista
    print(coluna_lista)

    for codeit in coluna_lista:
        codeit = codeit.lower()
        command = f'''
            CREATE TABLE IF NOT EXISTS "{codeit}"(
                id INTEGER PRIMARY KEY,
                code TEXT NOT NULL,
                date DATE,
                open REAL,
                high REAL,
                low REAL,
                close REAL,
                volume REAL,
                datatype TEXT NOT NULL
            );    
            '''
        cursor.execute(command)
        conn.commit()



    ##############################



    for commcode in coluna_lista:
        commcode = commcode.lower()
        command = f'SELECT MIN(date) FROM "{commcode}"'
        cursor.execute(command)
        lastdate = cursor.fetchall()
        lastdatetest = f'{lastdate}'
        lastdatetest = len(lastdatetest)
        if lastdatetest == 9: # GAMBIARRA MÁXIMA
            tenyragovar = tenyragodelta.strftime("%Y-%m-%d")
            todayvar = todaydelta.strftime("%Y-%m-%d")
            downloadv = yf.download(f"{commcode}", start=f"{tenyragovar}", end=f"{todayvar}")
            downloadv = downloadv.drop('Adj Close', axis=1)
            downloadv['datatype'] = 'tickets'
            downloadv['code'] = f'{commcode}'
            downloadv.reset_index(inplace=True)
            downloadv['Date'] = pd.to_datetime(downloadv['Date'])
            commcodel = commcode.lower()
            downloadv.to_sql(f'{commcodel}', conn, if_exists='replace', index=False, dtype={'Date': 'DATE'})

        else:
            command = f'SELECT MAX(date) FROM "{commcode}"'
            cursor.execute(command)
            firstdate = cursor.fetchall()
            lastdatestr = lastdate[0][0].split()[0]
            lastdatedatetime = datetime.strptime(lastdatestr, '%Y-%m-%d')
            firstdatestr = firstdate[0][0].split()[0]
            firstdatedatetime = datetime.strptime(firstdatestr, '%Y-%m-%d')
            todayvar = todaydelta.strftime("%Y-%m-%d")
            firstdatestr = firstdatedatetime.strftime("%Y-%m-%d")
            print(firstdatedatetime)
            print(todaydelta)
            print(type(todaydelta))
            print(todayvar)
            print(firstdatestr)
            if firstdatestr == todaydelta:
                print('Up to date')
            else:
                downloadv = yf.download(f"{commcode}", start=f"{firstdatestr}", end=f"{todayvar}") # o Yahoo Finance só resgata os tickets de moeda depois do fechamento do dia. 
                # Rodar esse programa UMA VEZ POR DIA
                # PARA UMA ATUALIZAÇÃO: ADICIONAR UMA CHAVE DE "ATUALIZATION DATE"
                downloadv = downloadv.drop('Adj Close', axis=1)
                downloadv['datatype'] = 'tickets'
                downloadv['code'] = f'{commcode}'
                downloadv.reset_index(inplace=True)
                downloadv['Date'] = pd.to_datetime(downloadv['Date'])
                commcodel = commcode.lower()
                downloadv.to_sql(f'{commcodel}', conn, if_exists='replace', index=False, dtype={'Date': 'DATE'})
                print(downloadv)
                conn.commit()

    conn.close()

for tic in tickets:
    print(tic)
    updateticket(tic)

{'empresa': ['Vale', 'Itaú Unibanco', 'Bradesco', 'Ambev', 'Banco do Brasil', 'B3', 'Petrobras', 'Cielo', 'Eletrobras', 'Magazine Luiza', 'Votorantim', 'Gerdau', 'Rumo', 'Cyrela', 'Klabin', 'Randon', 'Ultrapar', 'Usiminas', 'Lojas Americanas', 'Suzano', 'Fleury', 'Gol', 'Santander Brasil', 'Localiza', 'Ecorodovias', 'Braskem', 'WEG', 'JBS', 'IRB Brasil', 'CCR'], 'codigo': ['VALE3.SA', 'ITUB4.SA', 'BBDC4.SA', 'ABEV3.SA', 'BBAS3.SA', 'B3SA3.SA', 'PETR4.SA', 'CIEL3.SA', 'ELET6.SA', 'MGLU3.SA', 'VVAR3.SA', 'GGBR4.SA', 'RAIL3.SA', 'CYRE3.SA', 'KLBN11.SA', 'RAPT4.SA', 'UGPA3.SA', 'USIM5.SA', 'LAME4.SA', 'SUZB3.SA', 'FLRY3.SA', 'GOLL4.SA', 'SANB11.SA', 'RENT3.SA', 'ECOR3.SA', 'BRKM5.SA', 'WEGE3.SA', 'JBSS3.SA', 'IRBR3.SA', 'CCRO3.SA'], 'pais': ['Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil'], 'nicho': ['Mineração', 'Serviços Financeiros', 'Serviços Financeiros', 'Bebidas', 'Serviços Financeiros', 'Serviços Financeiros', 'Petróleo e Gás', 'Tecnologia Financeira', 'Energia', 'Varejo', 'Diversificado', 'Metalurgia', 'Logística', 'Construção Civil', 'Papel e Celulose', 'Automotivo', 'Diversificado', 'Metalurgia', 'Varejo', 'Papel e Celulose', 'Saúde', 'Transporte Aéreo', 'Serviços Financeiros', 'Aluguel de Carros', 'Infraestrutura', 'Petroquímica', 'Energia', 'Alimentício', 'Seguros', 'Infraestrutura']}
['VALE3.SA', 'ITUB4.SA', 'BBDC4.SA', 'ABEV3.SA', 'BBAS3.SA', 'B3SA3.SA', 'PETR4.SA', 'CIEL3.SA', 'ELET6.SA', 'MGLU3.SA', 'VVAR3.SA', 'GGBR4.SA', 'RAIL3.SA', 'CYRE3.SA', 'KLBN11.SA', 'RAPT4.SA', 'UGPA3.SA', 'USIM5.SA', 'LAME4.SA', 'SUZB3.SA', 'FLRY3.SA', 'GOLL4.SA', 'SANB11.SA', 'RENT3.SA', 'ECOR3.SA', 'BRKM5.SA', 'WEGE3.SA', 'JBSS3.SA', 'IRBR3.SA', 'CCRO3.SA']
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['VVAR3.SA']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['LAME4.SA']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
{'empresa': ['YPF', 'Grupo Financiero Galicia', 'Banco Macro', 'MercadoLibre', 'Telecom Argentina', 'BBVA Banco Francés', 'Cresud', 'Pampa Energía', 'Tenaris', 'Globant', 'Banco de la Nación Argentina', 'Ternium', 'Central Puerto', 'Banco Santander Río', 'Grupo Supervielle', 'YPF Luz', 'Banco BBVA Argentina', 'Transportadora de Gas del Sur', 'Despegar.com', 'Banco de Galicia y Buenos Aires', 'Aluar Aluminio', 'Molinos Río de la Plata', 'Edenor', 'IRSA Propiedades Comerciales', 'Banco Patagonia', 'Telefónica de Argentina', 'Siderar', 'Consultatio', 'Molinos Agro', 'TGS'], 'codigo': ['YPFD.BA', 'GGAL.BA', 'BMA.BA', 'MELI.BA', 'TECO2.BA', 'BBAR.BA', 'CRES.BA', 'PAMP.BA', 'TS.BA', 'GLOB.BA', 'BMA.BA', 'TXAR.BA', 'CEPU.BA', 'RIO.BA', 'SUPV.BA', 'YPFL.BA', 'BBVA.BA', 'TGSU2.BA', 'DESP.BA', 'GGAL.BA', 'ALUA.BA', 'MOLI.BA', 'EDN.BA', 'IRSA.BA', 'BPAT.BA', 'TECO2.BA', 'ERAR.BA', 'CTIO.BA', 'MOLA.BA', 'TGSU2.BA'], 'pais': ['Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina'], 'nicho': ['Petróleo e Gás', 'Serviços Financeiros', 'Serviços Financeiros', 'Tecnologia', 'Telecomunicações', 'Serviços Financeiros', 'Agricultura', 'Energia', 'Metalurgia', 'Tecnologia', 'Serviços Financeiros', 'Metalurgia', 'Energia', 'Serviços Financeiros', 'Serviços Financeiros', 'Petróleo e Gás', 'Serviços Financeiros', 'Petróleo e Gás', 'Tecnologia', 'Serviços Financeiros', 'Metalurgia', 'Alimentício', 'Energia', 'Imobiliário', 'Serviços Financeiros', 'Telecomunicações', 'Metalurgia', 'Consultoria', 'Alimentício', 'Energia']}
['VALE3.SA', 'ITUB4.SA', 'BBDC4.SA', 'ABEV3.SA', 'BBAS3.SA', 'B3SA3.SA', 'PETR4.SA', 'CIEL3.SA', 'ELET6.SA', 'MGLU3.SA', 'VVAR3.SA', 'GGBR4.SA', 'RAIL3.SA', 'CYRE3.SA', 'KLBN11.SA', 'RAPT4.SA', 'UGPA3.SA', 'USIM5.SA', 'LAME4.SA', 'SUZB3.SA', 'FLRY3.SA', 'GOLL4.SA', 'SANB11.SA', 'RENT3.SA', 'ECOR3.SA', 'BRKM5.SA', 'WEGE3.SA', 'JBSS3.SA', 'IRBR3.SA', 'CCRO3.SA', 'YPFD.BA', 'GGAL.BA', 'BMA.BA', 'MELI.BA', 'TECO2.BA', 'BBAR.BA', 'CRES.BA', 'PAMP.BA', 'TS.BA', 'GLOB.BA', 'BMA.BA', 'TXAR.BA', 'CEPU.BA', 'RIO.BA', 'SUPV.BA', 'YPFL.BA', 'BBVA.BA', 'TGSU2.BA', 'DESP.BA', 'GGAL.BA', 'ALUA.BA', 'MOLI.BA', 'EDN.BA', 'IRSA.BA', 'BPAT.BA', 'TECO2.BA', 'ERAR.BA', 'CTIO.BA', 'MOLA.BA', 'TGSU2.BA']
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date       Open       High        Low      Close    Volume datatype  \
0 2024-02-28  66.800003  67.220001  66.330002  66.739998  20331500  tickets

       code
0  vale3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date       Open       High        Low      Close    Volume datatype  \
0 2024-02-28  34.700001  34.889999  34.459999  34.799999  13346600  tickets

       code
0  itub4.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date   Open  High    Low  Close    Volume datatype      code
0 2024-02-28  13.99  14.1  13.88  13.96  22066700  tickets  bbdc4.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date   Open   High    Low  Close    Volume datatype      code
0 2024-02-28  13.27  13.59  13.26  13.45  34495200  tickets  abev3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date       Open       High    Low  Close   Volume datatype      code
0 2024-02-28  58.580002  59.139999  58.41  58.75  6167500  tickets  bbas3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date   Open   High    Low  Close    Volume datatype      code
0 2024-02-28  12.59  12.65  12.37  12.58  25756200  tickets  b3sa3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date   Open       High        Low  Close     Volume datatype      code
0 2024-02-28  42.52  42.939999  39.830002  40.43  112322000  tickets  petr4.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date  Open  High   Low  Close    Volume datatype      code
0 2024-02-28  5.39   5.4  5.31   5.38  14776200  tickets  ciel3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date       Open       High        Low      Close   Volume datatype  \
0 2024-02-28  48.360001  48.560001  47.799999  48.279999  1438000  tickets

       code
0  elet6.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date  Open  High   Low  Close    Volume datatype      code
0 2024-02-28  2.18  2.22  2.13   2.17  88949300  tickets  mglu3.sa
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['VVAR3.SA']: Exception('%ticker%: No timezone found, symbol may be delisted')

2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date  Open   High    Low      Close   Volume datatype      code
0 2024-02-28  21.6  21.66  21.25  21.549999  6000600  tickets  ggbr4.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date   Open   High    Low      Close   Volume datatype      code
0 2024-02-28  22.98  23.07  22.77  22.879999  6140700  tickets  rail3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date   Open   High    Low      Close   Volume datatype      code
0 2024-02-28  23.68  23.75  23.25  23.559999  2730900  tickets  cyre3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date  Open       High        Low  Close   Volume datatype       code
0 2024-02-28  22.4  22.799999  22.379999   22.6  4108500  tickets  klbn11.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date   Open   High   Low  Close   Volume datatype      code
0 2024-02-28  11.21  11.39  11.2  11.26  1189600  tickets  rapt4.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date       Open       High        Low      Close   Volume datatype  \
0 2024-02-28  30.709999  31.049999  30.360001  30.540001  6569400  tickets

       code
0  ugpa3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date   Open  High    Low  Close   Volume datatype      code
0 2024-02-28  10.78  11.0  10.72  10.95  8237600  tickets  usim5.sa
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['LAME4.SA']: Exception('%ticker%: No timezone found, symbol may be delisted')

2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date       Open       High        Low      Close   Volume datatype  \
0 2024-02-28  56.759998  58.040001  56.549999  57.380001  5853500  tickets

       code
0  suzb3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date       Open       High    Low  Close   Volume datatype      code
0 2024-02-28  16.200001  16.290001  15.79  15.91  3483000  tickets  flry3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date  Open  High  Low  Close   Volume datatype      code
0 2024-02-28  2.62  2.68  2.6   2.63  7562100  tickets  goll4.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date       Open       High        Low  Close   Volume datatype  \
0 2024-02-28  28.690001  29.209999  28.620001   29.0  1199400  tickets

        code
0  sanb11.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date       Open       High        Low      Close   Volume datatype  \
0 2024-02-28  54.450001  54.450001  53.369999  53.860001  5057200  tickets

       code
0  rent3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date  Open  High   Low  Close   Volume datatype      code
0 2024-02-28  9.32  9.38  9.19   9.29  1516800  tickets  ecor3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date       Open       High        Low      Close   Volume datatype  \
0 2024-02-28  21.049999  21.049999  20.459999  20.639999  2255300  tickets

       code
0  brkm5.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date       Open       High        Low  Close   Volume datatype  \
0 2024-02-28  36.900002  37.049999  36.610001  36.91  3790300  tickets

       code
0  wege3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date   Open       High        Low      Close   Volume datatype  \
0 2024-02-28  22.76  23.190001  22.360001  22.450001  5475200  tickets

       code
0  jbss3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date       Open       High   Low      Close   Volume datatype  \
0 2024-02-28  41.119999  41.220001  38.5  39.060001  4261300  tickets

       code
0  irbr3.sa
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date   Open  High    Low  Close   Volume datatype      code
0 2024-02-28  13.98  14.1  13.82   13.9  6847700  tickets  ccro3.sa
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['TS.BA']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['GLOB.BA']: Exception("%ticker%: Period 'max' is invalid, must be one of ['1d', '5d']")

2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date         Open         High     Low        Close  Volume datatype  \
0 2024-02-28  3960.899902  4088.949951  3780.0  3979.949951  234135  tickets

     code
0  bma.ba
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['YPFL.BA']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['BBVA.BA']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date    Open         High     Low        Close   Volume datatype  \
0 2024-02-28  2350.0  2401.649902  2308.0  2318.800049  1597721  tickets

      code
0  ggal.ba
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date    Open    High          Low        Close  Volume datatype  \
0 2024-02-28  1615.0  1641.5  1530.550049  1533.949951  152897  tickets

       code
0  teco2.ba
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['ERAR.BA']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2014-03-03 -> 2024-02-29)')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
2024-02-28 00:00:00
2024-02-29 00:00:00
<class 'datetime.datetime'>
2024-02-29
2024-02-28
[*********************100%%**********************]  1 of 1 completed
        Date         Open         High          Low   Close  Volume datatype  \
0 2024-02-28  2874.850098  2924.949951  2783.449951  2787.5  251740  tickets

       code
0  tgsu2.ba
{'empresa': ['América Móvil', 'Grupo México', 'FEMSA', 'Grupo Bimbo', 'Cemex', 'Grupo Financiero Banorte', 'Grupo Elektra', 'Gruma', 'Grupo Aeroportuario del Pacífico', 'Alfa', 'Grupo Aeroportuario del Centro Norte', 'Grupo Carso', 'Genomma Lab Internacional', 'Grupo Aeroportuario del Sureste', 'Grupo Aeroportuario de la Ciudad de México', 'Grupo Simec', 'Alpek', 'Controladora Vuela Compañía de Aviación', 'Gentera', 'Banco Santander México', 'Televisa', 'Grupo Lala', 'Grupo Herdez', 'Grupo Cementos de Chihuahua', 'Grupo Gigante', 'Banco del Bajío', 'Grupo Sanborns', 'Fibra Uno', 'Grupo Industrial Maseca', 'Grupo Kuo'], 'codigo': ['AMXL.MX', 'GMEXICOB.MX', 'FEMSAUBD.MX', 'BIMBOA.MX', 'CEMEXCPO.MX', 'GFNORTEO.MX', 'ELEKTRA.MX', 'GRUMAB.MX', 'GAPB.MX', 'ALFAA.MX', 'OMAB.MX', 'GCARSOA1.MX', 'LABB.MX', 'ASURB.MX', 'GACMAB.MX', 'SIMECB.MX', 'ALPEKA.MX', 'VLRS.MX', 'GENTERA.MX', 'BSMXB.MX', 'TLEVISACPO.MX', 'LALAB.MX', 'HERDEZ.MX', 'GCC.MX', 'GIGANTE.MX', 'BBAJIOO.MX', 'GSANBORB-1.MX', 'FUNO11.MX', 'GRUMAB.MX', 'KUOB.MX'], 'pais': ['México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México'], 'nicho': ['Telecomunicações', 'Mineração', 'Bebidas', 'Alimentício', 'Construção', 'Serviços Financeiros', 'Varejo', 'Alimentício', 'Transporte', 'Conglomerado', 'Transporte', 'Conglomerado', 'Farmacêutico', 'Transporte', 'Transporte', 'Metalurgia', 'Químico', 'Transporte', 'Serviços Financeiros', 'Serviços Financeiros', 'Mídia', 'Alimentício', 'Alimentício', 'Construção', 'Varejo', 'Serviços Financeiros', 'Varejo', 'Imobiliário', 'Indústria', 'Conglomerado']}

ValueError: All arrays must be of the same length

# FUNÇÕES

In [ ]:
############################################ Funções a serem utilizadas

In [ ]:
#def updatedb(table)

# CÓDIGO

In [ ]:
downloadv = yf.download(f"USDBRL=X", start=f"2024-02-27")


downloadv.head()

In [ ]:
# Sistema de data para recuperação de dados, adição de novos dados e análise dinâmica