In [4]:
import yfinance as yf
import pandas as pd

downloadv = yf.download(f"USDBRL=X", start=f"2024-02-25")


downloadv.head()

[*********************100%%**********************]  1 of 1 completed

              Open    High       Low   Close  Adj Close  Volume
Date
2024-02-26  4.9935  4.9945  4.970000  4.9935     4.9935       0
2024-02-27  4.9789  4.9792  4.934200  4.9789     4.9789       0
2024-02-28  4.9324  4.9620  4.910208  4.9324     4.9324       0
2024-02-29  4.9673  4.9959  4.963101  4.9673     4.9673       0
2024-03-01  4.9698  4.9723  4.943618  4.9698     4.9698       0